.preview-product-holder-003 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.preview-product-004 {
    width: 100%;
    height: auto;
}

.preview-product-004>div {
    float: left;
    height: auto;
}


.preview-pic-005 {
    width: 100%;
    background: whitesmoke;
    border-radius: 10px;
}

.preview-pic-005>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.preview-details-005 {
    width: 100%;
    height: auto;
}

.preview-details-005>div {
    width: 100%;
    height: auto;
    padding: 10px;
}

.actions-holder-005 {
    width: 100%;
    margin-top: 50px;
    height: 50px;
}

.actions-holder-005>div {
    float: left;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.actions-holder-005>div>button {
    outline: none;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

.b1 {
    border: 1px solid crimson;
    color: crimson;
}

.b1:hover {
    background: crimson;
    color: white;
}

.b2 {
    border: 1px solid green;
    color: green;
}

.b2:hover {
    background: green;
    color: white;
}

.b3 {
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.b3:hover {
    background: dodgerblue;
    color: white;
}


@media only screen and (min-width: 768px) {
    .actions-holder-005>div {
        width: 33.33333333%;
    }

    .preview-pic-005 {
        width: 30%;
    }

    .preview-details-005 {
        width: 70%;
    }
}